.vkuiTabsItem__label {
    text-align: center;
}

.ScheduleHeader {
    align-items: center;
}

.ScheduleCardInner {
    padding: 10px;
    display: flex;
    column-gap: 10px;
    position: relative;
}

.ScheduleCardInner__Separator {
    min-width: 5px;
    width: 5px;
    border-radius: 10px;
    background-color: gray;
}

.ScheduleCardInner__Separator.red {
    background-color: var(--vkui--color_background_negative);
}

.ScheduleCardInner__Separator.green {
    background-color: var(--vkui--color_background_positive);
}

.ScheduleCardInner__Separator.yellow {
    background-color: var(--vkui--color_accent_orange);
}

.Avatar.red {
    border: 3px solid var(--vkui--color_background_negative);
}

.Avatar.green {
    border: 3px solid var(--vkui--color_background_positive);
}

.Avatar.yellow {
    border: 3px solid var(--vkui--color_accent_orange);
}

.ScheduleCardInner__Time {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 38px;
}

.OutlineText {
    border: 1px solid;
    border-color: var(--text_secondary);
    border-radius: 8px;
    color: var(--text_secondary);
    font-size: .75em;
    padding: 1px 7px;

}

.LessonInfo {
    display: flex;
    margin: 3px 0px;
    column-gap: 7px;
    flex-wrap: wrap;
    row-gap: 4px;
}

.ScheduleCardInfoButton {
    position: absolute;
    right: 0;
    top: 0;
    color: var(--button_primary_background);
}

.LessonModalInner {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    margin-top: 8px;
}